@charset "UTF-8";

$position-values: (relative, absolute, fixed) !default;
$helpers-position-class-prefix: 'pos' !default;

@mixin helpers-position($responsive : false) {
  
  @if $responsive {
    
    @each $classname in $breakpoint-classes {
      
      @include breakpoint($classname) {
        @each $value in $position-values {
          .#{$classname}-#{$helpers-position-class-prefix}-#{$value} {
            position: #{$value} !important;
          }
        }
      }
    }
  } @else {
    @each $value in $position-values {
      .#{$helpers-position-class-prefix}-#{$value} {
        position: #{$value} !important;
      }
    }
  }
  
  
}